.textarea {
    padding: 4px;
    width: 100%;
}

.homeworkDetail {
    font-weight: bold;
}

.datePicker {
    margin-top: 1rem;
    width: 100%;
}

.datePicker p {
    padding: 0;
    margin: 0;
}

.errorMsg {
    color: red;
    font-size: 13px;
    padding-left: 8px;
}